@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/layout/grid-background";

@mixin section-box {
  @include border-radius(4px,4px);
  @include single-box-shadow(rgba(0,0,0,.25), 1px, 2px, 6px, 0px);
  background: #fafafa;
  border: 1px solid #ddd;
  padding: 15px;
}

$base-text: #111;
$bootstrap-width: 940px;

* {
  color: $base-text;
  font-family: 'Lucida Grande', Arial, sans-serif;
}
body {
  background: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
}

#loadTool {
  @include section-box;
  width: 400px;
  margin: 15px auto 0 auto;
  text-align: left;
}
#loadTool h1 {
  color: #bbb;
  margin: 0;
  text-align: center;
}
#loadTool .progress {
  @include single-box-shadow(rgba(0,0,0,.25), 0px, 0px, 6px, 0px);
}

#tool {
  margin: 15px 0 0 0;
  text-align: left;
}
#tool .container {
  @include section-box;
}